#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn{
  margin: 10px;
  background-color: #bbe1f1;
  color: #191919;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Темний фон */
}
.modal-content {
  background-color: #bbe1f1;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
.modal-close{
  position: absolute;
  top: 15px; 
  right: 15px; 
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}
.modal-footer button{
  background-color: rgb(146, 81, 207);
  color: white;
  width: 192px;
  height: 48px;
  text-transform: uppercase;
}
.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  color: #191919;
}

.firstModal {
  & .modal-content{
    width: 560px;
    height: 558px;
  }
  & .modal-header{
    margin-top: 50px;
  }
  & .modal-footer{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  & button:last-child {
    background-color: #fff;
    color: rgb(146, 81, 207);
  }
}

.secondModal{
  & .modal-content{
    width: 440px;
    height: 250px;
    justify-content: space-evenly;
  }
  & .modal-header{
    & h2{
      margin: 0;
    }
  }
  & .modal-body{
    padding-bottom: 60px;
    & p{
      margin: 0;
    }
  }
  & button:last-child {
    background-color: rgb(146, 81, 207);
    color: #fff;
  }
}